{% extends "base.html" %}

{% block title %}
    <title>Add Media Entry</title>
{% endblock title %}

{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row pr-lg-5">
            <div class="col-md-12 mb-4">

                <div class="view">
                    <p>Use the search bar below to find a video game</p>
                    <form class="form-inline md-form mr-auto">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        {{ form.submit(class="btn blue-gradient btn-rounded btn-sm my-0 waves-effect waves-light") }}
                    </form>
                </div>

            </div>
        </div>

    </section>
    <!--Section: Content-->

</div>


{% endblock content %}