{% for post in posts %}
<article class="media content-section shadow">
    <img class="article-img mr-3" src="{{ post.url }}">
    <div class="media-body">
        {% if category == "Games" %}
        <div class="article-header-metadata">
            <span class="mr-2"><strong>Platforms: </strong>  {{ post.platforms }}</span>
        </div>
            <h2 class="article-title"><a href="{{ url_for('game_media', igdb_id=post.igdb_id) }}">{{ post.name }}</a></h2>
        {% elif category == "Movies" %}
        <div class="article-header-metadata">
            {% for genre in post.genre %}
            <span class="mr-2">{{ genre }}</span>
            {% endfor %}
        </div>
        <h2 class="article-title"><a href="{{ url_for('movie_media', media=post.name) }}">{{ post.name }}</a></h2>
        {% endif %}
        <div class="article-footer-metadata">
            <span><strong>Release Date: </strong><a class="mr-4">{{ post.release_date }}</a> </span>
        </div>
    </div>

    {% if category == "Games" %}
    <div class="progress mx-auto my-auto" data-value='{{ post.our_rating }}'>
        <span class="progress-left">
            <span class="progress-bar border-primary"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar border-primary"></span>
        </span>
        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            {% if post.our_rating > 0 %}
            <div class="h2 font-weight-bold">{{ post.our_rating }}</div>
            {% else %}
            <div class="h2 font-weight-bold">N/A</div>
            {% endif %}
        </div>
    </div>
    {% elif category == "Movies" %}
    <div class="progress mx-auto my-auto" data-value='{{ post.overall_rating }}'>
        <span class="progress-left">
            <span class="progress-bar border-primary"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar border-primary"></span>
        </span>
        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            {% if post.overall_rating > 0 %}
            <div class="h2 font-weight-bold">{{ post.overall_rating }}</div>
            {% else %}
            <div class="h2 font-weight-bold">N/A</div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</article>
{% endfor %}