{% extends "base.html" %}

{% block title %}
<title>Media Reviewer</title>
{% endblock title %}

{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 id="home-heading">Media Reviewer</h1>
                <p id="home-sub-heading">The place to review all your media content</p>
            </div>
        </div>
    </div>
</header>


{% for category in ['games', 'movies'] %}
    {% if category == "games" %}
    <!-- Jumbotron -->
    <div class="card card-image jumbo-game-img">
    {% elif category == "movies"%}
    <div class="card card-image jumbo-movie-img">
    {% endif %}
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">

            <!-- Content -->
            <div class="py-5">
                
                {% if category == "games" %}
                <!-- Titles -->
                <h5 class="h5 orange-text"><i class="fas fa-gamepad"></i> Video Games</h5>
                <h2 class="card-title h2 my-4 py-2 text-white">Most Popular Games</h2>

                {% elif category == "movies"%}
                <!-- Titles -->
                <h5 class="h5 orange-text"><i class="fas fa-gamepad"></i> Movies</h5>
                <h2 class="card-title h2 my-4 py-2 text-white">Latest Movies</h2>
                {% endif %}

                <!-- Card Container -->
                <div class="container border shadow my-5 card-style latest-media-container">
                    <div class="row my-5 mx-3">

                        {% if category == "games" %}
                        <!-- Card Deck -->
                        <div class="card-deck text-center mx-auto">
                            {% for game in game_posts %}

                            <!-- Card -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="media-card ">
                                    <!-- Image -->
                                    <a class="text-decoration-none text-body"
                                        href="{{ url_for('game_media', igdb_id=game.igdb_id) }}">
                                        <img class="card-img-top latest-media-img" src="{{ game.image_url }}" alt="">
                                    </a>
                                    <!-- Card title -->
                                    <div class="card-body">
                                        <h3 class="card-media-title"><a class="text-decoration-none text-body"
                                                href="{{ url_for('game_media', igdb_id=game.igdb_id) }}">{{game.name}}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Listings Button -->
                        <div class="col-sm-12 text-center">
                            <a class="btn peach-gradient" href="{{ url_for('game_listings') }}"><i
                                    class="fas fa-clone left"></i> View Game Listings</a>
                        </div>
                        {% elif category == "movies"%}
                        <!-- Card Deck -->
                        <div class="card-deck text-center mx-auto">

                        {% for movie in movie_posts %}
                            <!-- Card -->
                            <div class="col-sm-6 col-lg-3">
                                <div class="media-card ">

                                    <!-- Image -->
                                    <a class="text-decoration-none text-body"
                                        href="{{ url_for('movie_media', media=movie.name) }}">
                                        <img class="card-img-top latest-media-img" src="{{ movie.image_url }}" alt="">
                                    </a>

                                    <!-- Card title -->
                                    <div class="card-body">
                                        <h3 class="card-media-title"><a class="text-decoration-none text-body"
                                                href="{{ url_for('movie_media', media=movie.name) }}">{{movie.name}}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
        
                        <!-- Listings Button -->
                        <div class="col-sm-12 text-center">
                            <a class="btn peach-gradient" href="{{ url_for('movie_listings') }}"><i
                                    class="fas fa-clone left"></i> Movie Listings</a>
                        </div>
                        {% endif %} 
                    </div>
                </div>
                <!-- End Card Container -->
            </div>
            <!-- End Content -->
        </div>
    </div>
{% endfor %}
<!-- End Video Game Jumbotron -->

{% endblock %}