{% extends "base.html" %}

{% block title %}
    {% if category %}
    <title>{{ category }} Listings</title>
    {% else %}
    <title>Listings</title>
    {% endif %}
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div id="content">
            <!-- Menu -->
            <div class="container">  
                <div class="row">
                    <!-- Sorting Form -->
                    <div class="col-sm-7">
                        <form action="" method="POST" id="sort-form">
                            {{ rating_form.csrf_token }}
                            <div class="row">
                                <!-- Dropdown -->
                                <div class="d-inline mr-4">
                                    <fieldset class="">
                                        <div class="form-group">
                                            {{ rating_form.rating(class="form-control form-control-lg my-auto") }}
                                        </div>
                                    </fieldset>
                                </div>
                                <!-- Button -->
                                <div class="d-inline align-bottom mt-auto">
                                    <div class="form-group">
                                        {{ rating_form.submit(class="btn peach-gradient mt-0") }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Sorting Form -->

                    {% if category == "Games" %}
                    <!-- Search form -->
                    <div class="col-sm-5">
                        <form class="form" method="POST">
                            <div class="md-form my-0 ml-auto">
                                <input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                <i class="fas fa-search text-white ml-3" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <!-- Search form -->
                </div>
            </div>
            <!-- Menu -->

            <!-- Listings -->
            {% for post in posts %}
            <article class="media content-section shadow">
                <!-- Image -->
                <img class="article-img mr-3" src="{{ post.image_url }}">

                <!-- Listings Body -->
                <div class="media-body">
                    {% if category == "Games" %}
                    <div class="article-header-metadata">
                        <span class="mr-2"><strong>Platforms: </strong>  {{ post.platforms }}</span>
                    </div>
                    <h2 class="article-title"><a href="{{ url_for('game_media', igdb_id=post.igdb_id) }}">{{ post.name }}</a></h2>
                    <div class="article-footer-metadata">
                        <span><strong>Release Date: </strong><a class="mr-4">{{ post.release_date }}</a> </span>
                    </div>
                    {% elif category == "Movies" %}
                    <div class="article-header-metadata">
                        {% for genre in post.genre %}
                        <span class="mr-2">{{ genre }}</span>
                        {% endfor %}
                    </div>
                    <h2 class="article-title"><a href="{{ url_for('movie_media', media=post.name) }}">{{ post.name }}</a></h2>
                    <div class="article-footer-metadata">
                        <span><strong>Release Date: </strong><a class="mr-4">{{ post.release_date }}</a> </span>
                    </div>
                {% endif %}
                </div>
                
                <!-- Rating -->
                <div class="progress mx-auto my-auto" data-value='{{ post.our_rating }}'>
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        {% if post.our_rating > 0 %}
                        <div class="h2 font-weight-bold">{{ post.our_rating }}</div>
                        {% else %}
                        <div class="h2 font-weight-bold">N/A</div>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
            <!-- Listings -->
        </div>
    </div>
</div>
{% endblock %}
