{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block title %}
    <title>{{ media.name }}</title>
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div id="content">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="container title pb-4">
                <div class="media-title row align-items-center d-flex justify-content-center">
                    <div class="heading mr-4">
                        <h1>{{ media.name }} </h1>
                    </div>
                </div>
            </div>

            <div class="container trailer">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ media.video_url }}" allowfullscreen></iframe>
                </div>
            </div>

            <!-- Details -->
            <div class="container details pb-4">
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                        {% if category == "Games" %}
                            <h5>Developer: <span class="text-muted">{{ media.developer }}</span> &emsp; 
                                Release Date: <span class="text-muted">{{ media.release_date }}</span></h5>
                        {% elif category == "Movies" %}
                            <h5>Running Time: <span class="text-muted">{{ media.running_time }}</span> &emsp; 
                                Our Rating: <span class="text-muted">{{ media.our_rating }}</span> &emsp; 
                                {% if media.user_rating %}
                                User Rating: <span class="text-muted">{{ media.user_rating }}</span>
                                {% else %}
                                User Rating: <span class="text-muted">N/A</span>
                                {% endif %} 
                            </h5>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>

            <!-- Summary -->
            <div class="container summary">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Summary</h2>
                        <p>{{ media.description }}</p>
                    </div>
                </div>
            </div>

            <hr class="pb-5">

            <!-- User Reviews -->
            <div class="container">
                <div class="row">
                    <div class="heading col-sm-6 align-items-center d-flex">
                        <h2 class="module_title">User Reviews</h2>
                    </div>
                    <div class="review-btn col-sm-6">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#submit-review" role="button">
                                Submit Review
                            </a>
                        </p>
                    </div>
                    
                    <div class="col-sm-12 pb-2">
                        <div class="collapse" id="submit-review">
                            <div class="card-style">
                                <form action="" method="POST">
                                    {{ form.csrf_token }}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Submit Review</legend>
                                        <div class="row">
                                            <div class="form-group col-sm-8">
                                                {{ render_field(form.name) }}
                                            </div>
            
                                            <div class="form-group col-sm-4">
                                                {{ render_field(form.rating) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ render_field(form.comment) }}
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        {{ form.submit(class="btn btn-outline-info") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        {% for review in media.reviews %}
                            <!-- TODO: See if this can be put into a template -->
                            <div>
                                <ol class="list-unstyled">
                                    <li>
                                        <div class="card-style">
                                            <div class="row">
                                                <div class="review-grade col-sm-1">
                                                    <div class="user-rating positive">{{ review.rating }}</div>
                                                </div>
                                                <div class="review-user col-sm-11">
                                                    <div class="font-weight-bold">{{ review.author }}</div>
                                                    <div class="text-muted">{{ review.date_uploaded }}</div>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="mb-0">{{ review.comment }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
