{% extends "base.html" %}

{% block title %}
    <title>Search Games</title>
{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div id="content">
            <p>The game you has not yet been reviewed by our users. Be the first by selecting a game and submitting a review!</p>
            {% for post in posts %}
                <article class="media content-section shadow">
                    <img class="article-img mr-3" src="{{ post.url }}">
                    <div class="media-body">
                        <!-- <div class="article-header-metadata">
                            <span class="mr-2">{{ post.media_category }}</span>
                        </div> -->
                        <h2 class="article-title"><a href="{{ url_for('game_media', igdb_id=post.igdb_id) }}">{{ post.name }}</a></h2>

                        <div class="article-footer-metadata">
                            <span><strong>Release Date: </strong><a class="mr-4">{{ post.release_date }}</a> </span>
                        </div>
                    </div>

                </article>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}